@Scripts.Render("~/scripts/SlidePanelDown.js")
@{
    ViewBag.Title = "AdditionalFeatures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Additional Features</h3>

<div id="flip"><b>Click to slide the panel down to see our contact address!!</b></div>
<div id="panel" style="display:none">
    <p><b>Being Human</b></p>
    <p><b>13 Albion Street,</b></p>
    <p><b>Balaclava,</b></p>
    <p><b>VIC 3158.</b></p>
</div>