@{
    ViewBag.Title = "Contact";
}

<h3>Documentation</h3>

<div class="jumbotron">

    <br />
    <p>
        <b>Author's Name: </b>Muhtasim Billah
    </p>
    <p>
        <b>Student ID: </b>26599988
    </p>
    <p>
        <b>Unit's Name: </b>Internet Application Development
    </p>
    <p>
        <b>Unit Provider: </b>Monash University, The Caulfield School of Information Technology
    </p>
    <p>
        <b>Assignment Number: </b>High Distinction Task
    </p>
    <p>
        <b>Date Of Submission: </b>12/10/2016
    </p>
    <p>
        <b>Tutor's Name: </b>Chris Messom
    </p>
    <p>
        <b>Author's Email: </b><a href="malito:mbil13@student.monash.edu">mbil13@student.monash.edu</a>
    </p>
    <p>
        <b>Assignment Specification: </b><a href="http://moodle.vle.monash.edu/mod/page/view.php?id=3322015">
    http://moodle.vle.monash.edu/mod/page/view.php?id=3322015
</a>
    </p>

</div>


@*<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@