@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Welcome to Being Human!!</h3>
    <p>
        The Being Human Foundation is a Mumbai-based charity that works in education and healthcare for the underprivileged in India.
        It was founded by Bollywood actor Salman Khan in 2007.
    </p>
    <img src="@Url.Content("~/image/ad3.jpg")" alt="images" />
    <p>
        The foundation performs many charitable activities. It funds the education of 200 children at the Akshara High School in Mumbai
        and another 300 through Aseema, a Mumbai-based not-for-profit.The foundation supports the VEER Initiative, a program to train
        differently-abled people.As of December 2015, the program has trained 1909 individuals, of which 1194 have gained employment.
        Additionally, the organization has set up programs to improve basic skills for students and career development centers.
    </p>
    <p>
        In healthcare, the charity has provided funding for treating children with congenital heart defects and craniofacial deformities.
        Being Human has also provided drought relief in Maharashtra, blankets for flood victims in Kashmir, conducted free eye camps to
        provide cataract surgeries, and helped conduct bone-marrow donor registration camps in Mumbai.
    <p />
    <p>
        The charity is funded by a 8-10% cut of the sales of Being Human-branded clothing.The merchandise is manufactured and marketed by
        Mandhana Industries.Sales revenue was about 235 crore INR in 2014-2015 with the figure expected to rise to 300 crore INR in 2016.
        A quarter of the brand's revenue comes from outside India.A tenth of the revenue comes from online sales.
    <p />

    <p>
        Here is an overview of the projects supported by
        Being Human-The Salman Khan Foundation:
    </p>
    
    <p>
        Craniofacial Surgeries
        <br />
        Drought Relief Initiative In Maharashtra
        <br />
        Free Eye Camps
        <br />
        Little Hearts Program
        <br />
        Marrow Donor Registry, India
        <br />
        Relief Initiative for Kashmir Flood Victims
        <br />
        The Max Foundation
    </p>
</div>

<div class="row">
    
</div>